html {
  font-family: Ubuntu, Oswald, sans-serif;
  font-weight: 400;
}
body * {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}
.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.article-title {
  font-family: "Oswald";
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  margin-bottom: 40px;
  max-width: 596px;
}
.article-title-mb {
  font-family: "Oswald";
  font-weight: 600;
  font-size: 36px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  margin-bottom: 40px;
  max-width: 596px;
}
.article-text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}
.article-text-mb {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  margin-bottom: 80px;
}
.article-mb {
  margin-bottom: 80px;
}
.img {
  margin-bottom: 80px;
}
.article-list {
  margin-top: 20px;
  padding-left: 15px;
}
.article-item {
  padding-bottom: 12px;
}
.article-video {
  margin-bottom: 40px;
  width: 100%;
}
