table {
  margin: 20px;
  font-family: sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td,
caption {
  border: 1px solid black;
  padding: 2px 3px;
}
caption {
  border-bottom: 0px;
  font-weight: bold;
}
.vh {
  color: red;
}

