form {
  font-family: sans-serif;
  width: 400px;
}
fieldset {
  border-radius: 5px;
  border: 1px solid #666464;
}
h2 {
  font-size: 20px;
}
h3 {
  margin-bottom: 2px;
  font-weight: 400;
}
label {
  display: block;
}
input {
  height: 25px;
  border-radius: 5px;
  border: 1px solid #666464;
  width: 300px;
}
textarea {
  resize: vertical;
  min-height: 60px;
  max-height: 200px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #666464;
}
#age {
}
#accept {
  width: auto;
  cursor: pointer;
}
button {
  cursor: pointer;
}
